!!! XML
!!!
%html
  %head
    %title Open Science Award presented by DBCLS
    %meta{:charset => "utf-8", :content => "text/html", "http-equiv" => "content"}

    %link{:rel => :stylesheet, :href => "//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"}
    %link{:rel => :stylesheet, :href => "//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"}
    %link{:rel => :stylesheet, :href => "#{app_root}/style.css", :type => "text/css"}
    %script{ :src => "http://code.jquery.com/jquery-1.8.2.min.js" }
    %script{ :src => "//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js" }
    %script{ :src => "//cdnjs.cloudflare.com/ajax/libs/d3/3.4.11/d3.min.js" }
    %script{ :src => "http://labratrevenge.com/d3-tip/javascripts/d3.tip.min.js" }

  %body
    .container
      .page-header
        .row
          .col-md-6.col-md-offset-3
            .text-center
              %a{ :href => app_root }
                %img{ :src => "https://s3.amazonaws.com/inutano-images/openscienceaward.png", :width => "450", :height => "300", :align => "middle" }
          .col-md-4.col-md-offset-4
            %h2.text-right
              %small= "presented by DBCLS"
      
      %section
        .row
          .col-md-8.col-md-offset-2
            %h2= "たくさんの投票ありがとうございました！"
            %p.num
              = "今回投票して下さった方の合計は…"
              %span.num-of-votes
                = @num_of_votes
              = "人です！"

        %hr
        .row
          .col-md-8.col-md-offset-2
            ~ markdown(:award_result, layout: false, fenced_code_blocks: true)

        %hr
        
        - pole_result = JSON.load(open(app_root+"/getresult"))
        - url_hash = get_url_hash
        .row
          - db = pole_result[0]["data"]
          %h2= "データベース部門"
          -# %p= "総投票数: " + db.size.to_s
          .col-md-6
            .db-bar
          .col-md-6
            %table.table.table-hover
              %thead
                %tr
                  %th Pos.
                  %th Title
                  %th Points
              %tbody
                - db.each do |record|
                  %tr
                    %td= record[2]
                    %td
                      %a{ :href => url_hash[record[0]] }= record[0]
                    %td= record[1]
        %hr
        .row
          - sw = pole_result[1]["data"]
          %h2= "ソフトウェア部門"
          -#%p= "総投票数: " + sw.size.to_s
          .col-md-6
            .sw-bar
          .col-md-6
            %table.table.table-hover
              %thead
                %tr
                  %th Pos.
                  %th Title
                  %th Points
              %tbody
                - sw.each do |record|
                  %tr
                    %td= record[2]
                    %td
                      %a{ :href => url_hash[record[0]] }= record[0]
                    %td= record[1]
        %hr
        .row
          - web = pole_result[2]["data"]
          %h2= "ウェブ部門"
          -#%p= "総投票数: " + web.size.to_s
          .col-md-6
            .web-bar
          .col-md-6
            %table.table.table-hover
              %thead
                %tr
                  %th Pos.
                  %th Title
                  %th Points
              %tbody
                - web.each do |record|
                  %tr
                    %td= record[2]
                    %td
                      %a{ :href => url_hash[record[0]] }= record[0]
                    %td= record[1]
      
        %hr
        .row
          %h3= "以前の入賞プロダクトの今回獲得票数"
          - legends = JSON.load(open(app_root+"/legends"))
          - ["Database", "Software", "Web"].each_with_index do |category, i|
            %hr
            %h4= category
            %table.table.table-hover
              %thead
                %tr
                  %th Prize
                  %th Title
                  %th Points
              %tbody
                - legends[i]["data"].each do |record|
                  - if record[4] == category
                    %tr
                    %td= record[2] + "\s" + record[3]
                    %td
                      %a{ :href => url_hash[record[0]] }= record[0]
                    %td= record[1]
                  
        %hr
        .row
          .col-md-8.col-md-offset-2
            .text-center
              %p
                = "オープン・サイエンス・アワードは、来年も開催する予定です。お楽しみに！"
        
        
      :javascript
        var margin = { top: 40, right: 20, bottom: 30, left: 40 },
            width = 450 - margin.left - margin.right,
            height = 350 - margin.top - margin.bottom;
        
        var xScale = d3.scale.ordinal()
                             .rangeRoundBands([0, width], .1);
        
        var yScale = d3.scale.linear()
                             .range([height, 0])
                             .nice();
        
        var xAxis = d3.svg.axis()
                          .scale(xScale)
                          .orient("bottom");
        
        var yAxis = d3.svg.axis()
                          .scale(yScale)
                          .orient("left")
                          .ticks(3);
        
        var tip = d3.tip()
                    .attr("class", "d3-tip")
                    .offset([-10, 0])
                    .html(function(d){
                      return d[0] + ": " + d[1];
                    })
        
        d3.json("#{app_root}/getresult", function(error, poleResult){
          poleResult.forEach(function(dataSet){
            var svg = d3.select("." + dataSet.category + "-bar")
                          .append("svg")
                          .attr("width", width + margin.left + margin.right)
                          .attr("height", height + margin.top + margin.bottom)
                            .append("g")
                            .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
            
            svg.call(tip);
            
            data = dataSet.data.slice(0,10)
            xScale.domain(data.map(function(d){ return d[0]; }));
            yScale.domain([0, d3.max(data, function(d){ return d[1]; })]);
            
            svg.append("g")
               .attr("class", "y axis")
               .call(yAxis)
                 .append("text")
                 .attr("transform", "rotate(-90)")
                 .attr("y", 6)
                 .attr("dy", "-2.5em")
                 .style("text-anchor", "end")
                 .text("Votes");
            
            svg.selectAll(".bar")
              .data(data)
              .enter()
              .append("rect")
              .attr("class", "bar")
              .attr("x", function(d){ return xScale(d[0]); })
              .attr("width", xScale.rangeBand())
              .attr("y", function(d){ return yScale(d[1]); })
              .attr("height", function(d){ return height - yScale(d[1]); })
              .on("mouseover", tip.show)
              .on("mouseout", tip.hide)
          });
        });
        
      %footer
        powered by
        %a{ :href => "http://dbcls.rois.ac.jp/" }
          DBCLS
        , project licensed under CC-BY 2.1 JP. /
        Font Awesome by Dave Gandy - 
        %a{ :href => "http://fortawesome.github.com/Font-Awesome" }
          http://fortawesome.github.com/Font-Awesome
